// colors
$primary: #0d6732;
$primary35: #075A29;
$primary90: #DBFBE8;
$primary99: #F2FFF7;

$secondary: #343432;

$tertiary: #BD2A11;

$indicatorBgDecoGreen: #C0F6D6;
$indicatorBgDecoBlue: #B4C8F0;
$indicatorBgDecoRed: #FCDDD8;
$indicatorBgDecoBlack: #D8D7D7;
$indicatorBgDecoYellow: #EBE5B0;
$inputBorder: #CACACA;
$bgDecoGray: #ECECEC;
$neutral60: #747474;
$neutral99: #F5F5F5;
$bodyBg: #DDE1DE;
$subnavItem: rgba(255, 255, 255, 0.5);

// colors - shades
$white: #ffffff;
$black: #000000;
